body {
            text-align: center;
            background-color: rgb(255, 255, 255);
            font-family: 標楷體, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

form {
            background: linear-gradient(to top, #c5d5fa, #c3dc99);
            width: 500px;
            margin: 0 auto;
            padding: 24px 0px;
        }

input {
            text-align: center;
        }

button {
            background-color: #c3dc99;
            width: 60px;
            height: 30px;
            border: none;
            border-radius: 6px;
        }       